/* menu */

nav ul {
    list-style: none;
    color: gray;
}

nav ul li { display: inline }

nav ul li a {
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    color: gray;
    display: inline;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: rgb(255, 50, 86);
    color: white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.menu-select {
    text-decoration: none;
    background-color: rgb(255, 50, 86);
    color: white;
}

/* aux classes and id's  */

.span3 { margin-right: -12px }

#main-content { margin-top: 80px }

.shadow {
	-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

/* logo  */

#logo:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#logo {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* footer  */

footer p {
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 30px;
}

hr {
    width: 910px;
    margin-left: 30px;
    margin-top: 60px;
}

/* thumbs and animation  */

.thumbs {
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.thumb-overlay {
    position: absolute;
    display: none;
    left: -220px;
    width: 220px;
    height: 220px;
    background-color: rgba(86, 247, 189, 0.80);
    overflow: hidden;
}

.thumb-overlay-span {
    font-size: 20px;
    color: white;
    background-color: rgb(255, 50, 86);
    padding: 10px;
    position: absolute;
    top: 40px;
    left: -20px;
    text-transform: uppercase;
}

.thumb-overlay-p {
    font-size: 20px;
    color: white;
    background-color: rgb(255, 50, 86);
    padding: 10px;
    position: absolute;
    top: 43px;
    left: 0;
    text-transform: uppercase;
}

.thumb-overlay-p2 {
    color: rgb(70, 70, 70);
    font-size: 14px;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 0;
    text-transform: lowercase;
}

.thumb-img1 { background-image: url('../img/thumbs/thumbnail_agendaola.jpg') }

.thumb-img2 { background-image: url('../img/thumbs/thumbnail_danone.jpg') }

.thumb-img3 { background-image: url('../img/thumbs/thumbnail_ea.jpg') }

.thumb-img4 { background-image: url('../img/thumbs/thumbnail_ementaola.jpg') }

.thumb-img5 { background-image: url('../img/thumbs/thumbnail_fulldata.jpg') }

.thumb-img6 { background-image: url('../img/thumbs/thumbnail_hs.jpg') }

.thumb-img7 { background-image: url('../img/thumbs/thumbnail_ilustra.jpg') }

.thumb-img8 { background-image: url('../img/thumbs/thumbnail_kv_sonae.jpg') }

.thumb-img9 { background-image: url('../img/thumbs/thumbnail_lagoalva.jpg') }

.thumb-img10 { background-image: url('../img/thumbs/thumbnail_laprod.jpg') }

.thumb-img11 { background-image: url('../img/thumbs/thumbnail_mor.jpg') }

.thumb-img12 { background-image: url('../img/thumbs/thumbnail_mt.jpg') }

.thumb-img13 { background-image: url('../img/thumbs/thumbnail_myself.jpg') }

.thumb-img14 { background-image: url('../img/thumbs/thumbnail_nestle.jpg') }

.thumb-img15 { background-image: url('../img/thumbs/thumbnail_oralb.jpg') }

.thumb-img16 { background-image: url('../img/thumbs/thumbnail_sagres.jpg') }

.thumb-img17 { background-image: url('../img/thumbs/thumbnail_stup_continente.jpg') }

.thumb-img18 { background-image: url('../img/thumbs/thumbnail_urbity.jpg') }

.thumb-img19 { background-image: url('../img/thumbs/thumbnail_chiclete.jpg') }